<div class="navBar">
    <div id="logo"></div>
    <div id="heading" ><a routerLink="/" style="color:#f8320f">ChatOn</a></div>
  <div class="links">
    <span>
      <a *ngIf="!(user|async)?.uid" routerLink="/login">Login</a>
    </span>
    &nbsp;&nbsp;
    <span>
      <a *ngIf="!(user|async)?.uid" routerLink="/signup">SignUp</a>
    </span>
    <span>
      <span id="userEmail" *ngIf="(user|async)?.uid">Hello, {{userEmail}}       </span>
    </span>
    <span>
      <a *ngIf="(user|async)?.uid" href="#" (click)="logout()">Logout</a>
    </span>
  </div>
</div>